.info{
    position:absolute;
    z-index:3;
    background-color:rgba(245, 238, 238, 0.3);
    backdrop-filter:blur(10px);
    border-radius:10px;
    border:2px solid #eee;
    top:1rem;
    left:0.8rem;
    padding:2rem;
}

.msg{
    font-size:1rem;
    color:#222;
}