*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.map_wrapper{
    height:600px;
    width:100%;
    border-radius:1rem;
    position:relative;
    cursor:pointer
}

.directions{
    height:19rem;
    width:10rem;
    /* background:linear-gradient(to bottom, rgba(195, 218, 69, 0.8), rgba(234,34,67,0.4)); */
    background-color:rgb(12, 75, 128);
    border-radius:10px;
    position:relative;
    top:-30rem;
    overflow-y:auto;
    text-align:left;
}

.instruction{
    list-style:none;
    font-size:1rem;
    color:rgb(219, 219, 219);
    padding:0.5rem;
    font-weight:600
}

.title_direction{
    background-color:orange;
    width:100%;
    position:absolute;
    top:0;
}

h3{
    padding:0.5rem;
    color:white;
    font-size:1.5rem;
}




.mode{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    width:50%;
    border-radius:0.3rem;
    position:absolute;
    top:2.7rem;
    left:0;
    z-index: 10;

}

.card{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    width:3rem;
    /* background:linear-gradient(to right, rgba(100,100,100,0.8), rgba(129, 176, 98, 0.6)); */
    background-color:rgb(4, 112, 131);
    height:2.7rem;
    border-radius:0.4rem;
    margin:0.7rem;
}

.profile{
    position:relative;
    top:-1.8rem;
    font-size:1rem;
    color:orange;
    pointer-events:none;
    
}

.title{
    font-size:0.8rem;
    color:rgb(255, 255, 255);
    pointer-events: none;
}

